body {
    margin: 0 auto;
    max-width: 650px;
    width: 90vw;
    background-color: rgba(234, 228, 197, 0.75);
    font-size: 18px;
    font-family: Garamond, Baskerville, Baskerville Old Face, Hoefler Text, 'Times New Roman', serif;
}

p {
    line-height: 1.4;
    margin: 0.2em 0;
    text-indent: 1em;
}

p:first-of-type {
    text-indent: 0;
}

.chapter {
    /*border: 1px solid black;*/
}

.point {
    /*border: 1px solid red;*/
}

span.footnote {
    display: block;
    width: 50mm;
    position: absolute;
    left: 80vw;
    font-size: 80%;
    text-indent: -1em;
}

@media print {
    @page {
        size: 111mm 181mm;
        margin: 0;
    }
    h1 {
        page-break-before: always;
    }
    body {
        -webkit-print-color-adjust: exact;
        /*background-image: url("./page.png");*/
        background-repeat: repeat-y;
        background-position: left top;
        background-size: 111mm 181mm;
        margin: 0;
        max-width: initial;
        width: initial;
        background-color: transparent;
        font-size: 11pt;
        padding: 7mm 0mm 7mm 13mm;
        width: 105mm;
        margin: 0;
    }
    p {
        line-height: 1em;
        widows: 3;
        orphans: 3;
    }
    .masthead,
    .author-page,
    .title-page,
    .publisher-page,
    .dedication-page,
    .contents {
        height: 181mm;
        display: block;
        page-break-before: always;
        /*border: 1px solid black;*/
    }
    .author-page {
        padding-top: 30mm;
        font-style: italic;
        font-size: 300%;
    }
    .title-page h1 {
        font-style: italic;
    }
    span.footnote {
        left: 126mm;
    }
}
