<span class="page-break">9</span>
<span class="page-break">10</span>
<section epub:type="acknowledgments" class="acknowledgements">
    <h1>Acknowledgements</h1>
    <p>I am grateful to many people who have helped with this book. I have discussed its topics with undergraduates and graduates at Oxford in classes and tutorials. I have also learnt from helpful disagreements and suggestions expressed in groups I have talked to in Oxford and in other universities and colleges.</p>
    <p>Nancy Davis and Jeff McMahan each generously wrote penetrating comments on the book at an earlier stage, which have led to many changes for the better.</p>
    <p>Among those I have learnt from in discussions of these issues over the last few years are Ruth Chadwick, Jeremy Cherfas, Ronnie Dworkin, Chris Graham. Jim Griffin, Dick Hare, John Harris, Ted Honderich, Richard Keshen, Richard Lindley, Derek Parfit. Joseph Raz, Don Regan, Alan Ryan, Amartya Sen, Wayne Sumner and Bernard Williams.</p>
    <p>I owe a lot to Freddie Ayer, for stimulating my early interest in philosophy, and for much help and support.</p>
    <p>Michael Dover, as Penguin editor, has always been most helpful, and has shown an astonishing patience with the gap between the original deadline and the arrival of the manuscript.</p>
    <p>I am grateful to Vicky Banbury for typing much of the book, and to Sylvia Graham and Sylvia Barkwell for typing the rest. Most of all, [have been influenced by my wife, Vivette. We have talked a lot about this book. She has sometimes, probably rightly, been a bit sceptical about parts of it. Reading it over, I notice how many passages, especially those about the kinds of world we should most hope for, are attempts to express things I have learnt from her.</p>
</section>
