<h1>More About Penguins, Pelicans And Puffins</h1>
<p>For further information about books available from Penguins please write to Dept EP, Penguin Books Ltd. Harmondsworth, Middlesex UB7 0DA.</p>
<p><em>In the U.S.A.</em>: For a complete List of books available from Penguins in the United States write to Dept DG. Penguin Books, 299 Murray Hill Parkway, East Rutherford. New jersey 07073.</p>
<p><em>In Canada</em>: For a complete list of books available from Penguins in Canada write to Penguin Books Canada Ltd, 2801 John Street. Markham, Ontario L3R 184.</p>
<p><em>In Australia</em>: For a complete list of books available from Penguins in Australia write to the Marketing Department, Penguin Books Australia Ltd, PO. Box 257. Ringwood, Victoria 3134.</p>
<p><em>In New Zealand</em>: For a complete list of books available from Penguins in New Zealand write to the Marketing Department, Penguin Books (NZ.) Ltd, PO. Box 4019, Auckland 10.</p>
<p><em>In India</em>: For a complete list of books available from Penguins in India write to Penguin Overseas Ltd, 706 Eros Apartments, 56 Nehru Place, New Delhi 110019</p>
<img src="https://s-media-cache-ak0.pinimg.com/736x/36/8a/84/368a843ba89e0640a48e215be75fdd54.jpg" class="penguin-logo">
