<section class="index">
    <h1>Index</h1> 
    <ul>
        <li>Ackerman, B. A. 161-2</li>
        <li>Aristotle 112. 117</li>
        <li>Ayer, A. j. 168</li>
        <li>Barry, B. 142</li>
        <li>Berlin. I. 140, 155. 168</li>
        <li>Bernal, j. D. 102</li>
        <li>Bird, R. M. 79</li>
        <li>Bradley, P. H. 165</li>
        <li>Brandeis, L. D. 68</li>
        <li><cite>Brave New World</cite> 18, 19, 154, 166, 174 </li>
        <li>Burgess, A. 80</li>
        <li>Burnet, M. 28-9</li>
        <li>Cézanne. P. 94</li>
        <li>Cherfas, J. 29</li>
        <li>Circle Line 121</li>
        <li>Clark, R. W. 128</li>
        <li>Cline, M. 29</li>
        <li><cite>Clockwork Orange</cite> 80</li>
        <li>Contractarlanism 144-5</li>
        <li>Cooper. H. 71</li>
        <li>Crick, P. 121</li>
        <li>Darwin, C. 40</li>
        <li>Davis, N. 17</li>
        <li>Dawkins, R. 182-3</li>
        <li>Delgado, J. 59. 80</li>
        <li>Descartes. R. 176</li>
        <li>Donne, J. 186</li>
        <li>Douglas, M. 39-40</li>
        <li>Dworkin, R. 161</li>
        <li>Einstein, A. 36</li>
        <li>Elster, J. 170</li>
        <li>Prege, G. 94</li>
        <li>Freud, S. 178</li>
        <li>Fried, C. 64, 68</li>
        <li>Genetic supermarket 47-50</li>
        <li>Ginseng 71</li>
        <li>God 45-7, 103-4,175</li>
        <li>Golding, W. 182</li>
        <li>Graham, C. 27</li>
        <li>Graham, R. 23, 24</li>
        <li>Gray, A. 149</li>
        <li>Greenspan, P. S. 81</li>
        <li>Griffin. J. 155</li>
        <li>Hacker, PM. 142</li>
        <li>Haksar, V. 169</li>
        <li>Haldane, J. B. S. 179-80</li>
        <li>Hampshire, S. N. 161, 168</li>
        <li>HareR.M141 - 2,173</li>
        <li>Hearne, K. 91</li>
        <li>Hcmulen 118</li>
        <li>Herzen, A. 139-40</li>
        <li>Hirsch, F. 126-7</li>
        <li>Home, Lord 167</li>
        <li>Horror machine 167</li>
        <li>Hubin, C. 142</li>
        <li>Hume, D. 168, 169</li>
        <li>Jansson, T. 118</li>
        <li>Kafka, P. 38</li>
        <li>Kant, I. 979, 153, 179-80</li>
        <li>Keynes, J. M. 114, 128, 189</li>
        <li>Le Carre, J. 168</li>
        <li>Mackie, J. L. 144. 149</li>
        <li>Malleson, C. 127</li>
        <li>Manuel, P. E. 149</li>
        <li>Maps of the moon 163</li>
        <li>Maynard Smith, J. 34-5</li>
        <li>Medawar. P. B. 15. 24, 27</li>
        <li>Midwich cuckoos 35</li>
        <li>Mill, J. S. 69, 79. 117, 167-74</li>
        <li>Mitterrand, F. 165</li>
        <li>Moomins 118</li>
        <li>Moore. G. E. 109-10. 112</li>
        <li>Morgenbesser. S. 81</li>
        <li>Muller. II. J. 32</li>
        <li>Nagel, E. 81. 102, 107</li>
        <li>Nagel, T. llO, 122, 124</li>
        <li>Narveson,J146</li>
        <li>Neurath, 0. 174, 176-7</li>
        <li>Newton, I. 77</li>
        <li>Nozek R. 47-981, 92, 96, 100, 139</li>
        <li>Rorty, A. 99</li>
        <li>Routley, R. 143, 148-9</li>
        <li>Routley, V. 143, 148-9</li>
        <li>Russeii, BA.W. 16. 17127-8</li>
        <li>Rutherford. J. 14, 29</li>
        <li>Sartre, J.-P. 67. 69</li>
        <li>Schwltzgebel, R. L. 59, 60, 79</li>
        <li>Sen. A. K. 155, 170</li>
        <li>Shockley, W. 23, 24, 28</li>
        <li>Shoemaker, S. 99</li>
        <li>Sidgwick, H. 10910</li>
        <li>Sisyphus 121-8, 154, 156, 160, 163, 165, 166</li>
        <li>Skinner, B. F. 153, 163</li>
        <li>Socrates. 16</li>
        <li>Spinoza, B. 74. 168</li>
        <li>Stalin, J. V. 139-40</li>
        <li>Stamp collecting 85, 118</li>
        <li>Stapledon, 0. 57, 137, 170</li>
        <li>Strawson, P.F. 97-9. 168</li>
        <li>Supercows 39, 149 </li>
        <li>Orwell, G. 134-5</li>
        <li>Parfit, D. 99. 146</li>
        <li>Pascal, B. 123</li>
        <li>Penfield, W. 91</li>
        <li>Polymorphism 27-8</li>
        <li>Popper,KR. 150-51 .168</li>
        <li>Positional goods 126-7</li>
        <li>Proust, M. 77,167</li>
        <li>Putnam, H. 98</li>
        <li>Quinton, AM. 99. 168</li>
        <li>Rakowski, E. 146</li>
        <li>Rawls, J. 117, 141-2. 145, 164, 173</li>
        <li>Raz, J. 142</li>
        <li>Rembrandt 77</li>
        <li>Taylor, C. 155</li>
        <li>Taylor. R. 122, 124</li>
        <li>Tennis 119</li>
        <li>Terkel, S. 11 7</li>
        <li>Tinbergen, N. 23-4, 32</li>
        <li>Tolstoy, L. 66. 77</li>
        <li>Tooley, M. 145</li>
        <li>Valcnsteln, E. S. 80</li>
        <li>Warren, S. D. 68</li>
        <li>Watson, J. 121</li>
        <li>Wlro 's Wlro 127</li>
        <li>Wiggins, D. R. P. 99, 165</li>
        <li>Williams, B. A. 0. 37, 54, 99, 155, 170, 176</li>
        <li>Wilson. B. 0. 45, 53</li>
        <li>Wodehouse, P. G. 168, 169
    </ul>
</section>
