<span class="page-break">5</span>
<section class="contents">
<span class="page-break">6</span>
    <h1>Contents</h1>
    <p>Acknowledgements 11</p>
    <p><a href="#introduction"><em>Chapter 1</em> Introduction 13</a></p>
    <ol>
        <li><a href="#the-questions">The Questions</a> 13</li>
        <li><a href="#the-approach">The Approach</a> 15</li>
    </ol>
    <h2>Part One: Genes</h2>
    <p><a href="#questions-about-some-uses-of-genetic-engineering"><em>Chapter 2</em> Questions about Some Uses of Genetic Engineering 23</a></p>
    <ol>
        <li><a href="#avoiding-the-debate-about-genes-and-the-environment">Avoiding the Debate about Genes and the Environment</a> 25</li>
        <li><a href="#methods-of-changing-the-genetic-composition-of-future-generations">Methods of Changing the Genetic Composition of Future Generations</a> 26</li>
        <li><a href="#the-positive-negative-distinction">The Positive-negative Distinction</a> 30</li>
        <li><a href="#the-view-that-overall-improvement-is-unlikely-or-impossible">The View That Overall improvement is Unlikely or Impossible</a> 33</li>
        <li><a href="#the-family-and-our-descendants">The Family and Our Descendants</a> 35</li>
        <li><a href="#cloning">Cloning</a> 36</li>
        <li><a href="#crossing-species-boundaries">Crossing Species Boundaries</a> 38</li>
        <li><a href="#risks-and-mistakes">Risks and Mistakes</a> 41</li>
        <li><a href="#the-objections-so-far">The Objections So far</a> 43</li>
    </ol>
    <p><a href="#decisions"><em>Chapter 3</em> Decisions 45</a></p>
    <ol>
        <li><a href="#not-playing-god">Not Playing God</a> 45</li>
        <li><a href="#the-genetic-supermarket">The Genetic Supermarket</a> 47</li>
        <li><a href="#a-mixed-system">A Mixed System</a> 50</li>
        <li><a href="#values">Values</a> 52</li>
        <li><a href="#changing-human-nature">Changing Human Nature</a> 55</li>
    </ol>
    <h2>Part Two: Thought Experiments</h2>
    <p><a href="#transparency"><em>Chapter 4</em> Transparency 59</a></p>
    <ol>
        <li><a href="#monitoring-thoughts">Monitoring Thoughts</a> 61</li>
        <li><a href="#transparency-in-a-free-community">Transparency in a Free Community</a> </li>
        <span class="page-break">7</span>
        <li><a href="#relationships">Relationships</a> 64</li>
        <li><a href="#identity-and-individuality">Identity and Individuality</a> 68</li>
        <li><a href="#the-two-perspectives">The Two Perspectives</a> 70</li>
    </ol>
    <p><a href="#mood"><em>Chapter 5</em> Mood 71</a></p>
    <ol>
        <li><a href="#the-objection-to-social-quietism">The Objection to Social Quietism</a> 72</li>
        <li><a href="#appropriateness">Appropriateness</a> 73</li>
        <li><a href="#the-superdrug">The Superdrug</a> 76</li>
    </ol>
    <p><a href="#control"><em>Chapter 6</em> Control 79</a></p>
    <ol>
        <li><a href="#some-questions">Some Questions</a> 81</li>
        <li><a href="#abuse-by-the-authorities">Abuse by the Authorities</a> 82</li>
        <li><a href="#benevolent-control-by-the-authorities">Benevolent Control by the Authorities</a> 83</li>
        <li><a href="#voluntary-submission-to-democratically-programmed-control">Voluntary Submission to Democratically Programmed Control</a> 84</li>
        <li><a href="#a-closed-society">A Closed Society</a> 86</li>
        <li><a href="#identity">Identity</a> 87</li>
        <li><a href="#self-modification">Self-Modification</a> 88</li>
        <li><a href="#conclusions">Conclusions</a> 89</li>
    </ol>
    <p><a href="#dreams-one"><em>Chapter 7</em> Dreams (I) 91</a></p>
    <ol>
        <li><a href="#the-experience-machine">The Experience Machine</a> 92</li>
        <li><a href="#some-primitive-objections">Some Primitive Objections</a> 93</li>
        <li><a href="#internal-and-external-perspectives">Internal and External Perspectives</a> 94</li>
        <li><a href="#other-people">Other People</a> 95</li>
        <li><a href="#activity">Activity</a> 95</li>
        <li><a href="#identity-objections">Identity Objections</a> 96</li>
        <li><a href="#the-kantian-objection">The Kantian Objection</a> 97</li>
        <li><a href="#will-it-still-be-me?">Will It Still Be Me?</a> 99</li>
        <li><a href="#personal-characteristics">Personal Characteristics</a> 100</li>
    </ol>
    <p><a href="#dreams-two"><em>Chapter 8</em> Dreams (II) 102</a></p>
    <ol>
        <li><a href="#the-dreamworld">The Dreamworld</a> 102</li>
        <li><a href="#is-the-dreamworld-real?">Is the Dreamworld Real?</a> 105</li>
        <li><a href="#deception. and what we want">Deception. and What We Want</a> 107</li>
        <li><a href="#the-objection-that-the-dreamworld-is-mind-centred">The Objection That the Dreamworld is Mind-Centred</a> 108</li>
        <li><a href="#the-mind-dependence-view">The Mind-Dependence View</a> 110</li>
        <li><a href="#claustrophobia">Claustrophobia</a> 112</li>
    </ol>
    <p><a href="#work"><em>Chapter 9</em> Work 114</a></p>
    <ol>
        <li><a href="#cooperation-and-expression">Cooperation and Expression</a> 116</li>
        <li><a href="#the-journey. not the arrival">The journey. Not the Arrival</a> 117</li>
        <li><a href="#results-and-replacement">Results and Replacement</a> 111</li>
        <li><a href="#circles">Circles</a> 121</li>
        <span class="page-break">8</span>
        <li><a href="#negative-circles">Negative Circles</a> 123</li>
        <li><a href="#systems">Systems</a> 126</li>
        <li><a href="#transcending-the-economic-problem">Transcending the Economic Problem</a> 128</li>
    </ol>
    <p><a href="#thoughts-on-the-thought-experiments"><em>Chapter 10</em> Thoughts on the Thought Experiments 130</a></p>
    <ol>
        <li><a href="#self-development-and-self-expression">Self-Development and Self-Expression</a> 133</li>
        <li><a href="#contact-and-variety">Contact and Variety</a> 133</li>
        <li><a href="#the-development-of-consciousness">The Development of Consciousness</a> 134</li>
        <li><a href="#beyond-conservatism-about-human-nature">Beyond Conservatism about Human Nature</a> 136</li>
    </ol>
    <h2>Part Three: Values</h2>
    <p><a href="#generations"><em>chapter 11</em> Generations 139</a></p>
    <ol>
        <li><a href="#stalin-and-herzen">Stalin and Herzen</a> 139</li>
        <li><a href="#the-equality-principle">The Equality Principle</a> 140</li>
        <li><a href="#some-views-incompatible-with-the-equality-principle">Some Views Incompatible with the Equality Principle</a> 144</li>
        <li><a href="#practical-constraints-on-the-equality-principle">Practical Constraints on the Equality Principle 148 </li>
        <li><a href="#against-utopias">Against Utopias</a> 149</li>
        <li><a href="#in-defence-of-intervention">In Defence of Intervention</a> 150</li>
        <li><a href="#a-possible-conflict">A Possible Conflict</a> 151</li>
    </ol>
    <p><a href="#adjustment"><em>chapter 12</em> Adjustment 153</a></p>
    <ol>
        <li><a href="#quality-and-the-satisfaction-of-desires">Quality and the Satisfaction of Desires</a> 154</li>
        <li><a href="#autonomy">Autonomy</a> 157</li>
        <li><a href="#neutrality">Neutrality</a> 161</li>
        <li><a href="#the-human-zoo">The Human Zoo</a> 162</li>
    </ol>
    <p><a href="#perspectives"><em>chapter 13</em> Perspectives 164</a></p>
    <ol>
        <li><a href="#external-perspectives">External Perspectives</a> 164</li>
        <li><a href="#quality">Quality</a> 166</li>
        <li><a href="#bias">Bias</a> 169</li>
        <li><a href="#archimedes-and-neurath">Archimedes and Neurath</a> 174</li>
    </ol>
    <p><a href="#some-conclusions"><em>chapter 14</em> Some Conclusions 178</a></p>
    <ol>
        <li><a href="#transcending-intellectual-limitations">Transcending Intellectual Limitations</a> 179</li>
        <li><a href="#emotional-and-imaginative-limitations">Emotional and Imaginative Limitations</a> 181</li>
        <li><a href="#values-and-dangers">Values and Dangers</a> 184</li>
        <li><a href="#consciousness">Consciousness</a> 186</li>
    </ol>
    <p><em>Index 189</em></p>
</section>
