<span class="page-break">5</span>
<section class="contents">
<span class="page-break">6</span>
    <h1>Contents</h1>
    <p><a href="#acknowledgements">Acknowledgements</a> <span class="pagenumber">11</span></p>
    <p><a href="#introduction"><em>Chapter 1</em> Introduction</a> <span class="pagenumber">13</span></p>
    <ol>
        <li><a href="#the-questions">The Questions</a> <span class="pagenumber">13</span></li>
        <li><a href="#the-approach">The Approach</a> <span class="pagenumber">15</span></li>
    </ol>
    <h2>Part One: Genes</h2>
    <p><a href="#questions-about-some-uses-of-genetic-engineering"><em>Chapter 2</em> Questions about Some Uses of Genetic Engineering</a> <span class="pagenumber">23</span></p>
    <ol>
        <li><a href="#avoiding-the-debate-about-genes-and-the-environment">Avoiding the Debate about Genes and the Environment</a> <span class="pagenumber">25</span></li>
        <li><a href="#methods-of-changing-the-genetic-composition-of-future-generations">Methods of Changing the Genetic Composition of Future Generations</a> <span class="pagenumber">26</span></li>
        <li><a href="#the-positive-negative-distinction">The Positive-negative Distinction</a> <span class="pagenumber">30</span></li>
        <li><a href="#the-view-that-overall-improvement-is-unlikely-or-impossible">The View That Overall improvement is Unlikely or Impossible</a> <span class="pagenumber">33</span></li>
        <li><a href="#the-family-and-our-descendants">The Family and Our Descendants</a> <span class="pagenumber">35</span></li>
        <li><a href="#cloning">Cloning</a> <span class="pagenumber">36</span></li>
        <li><a href="#crossing-species-boundaries">Crossing Species Boundaries</a> <span class="pagenumber">38</span></li>
        <li><a href="#risks-and-mistakes">Risks and Mistakes</a> <span class="pagenumber">41</span></li>
        <li><a href="#the-objections-so-far">The Objections So far</a> <span class="pagenumber">43</span></li>
    </ol>
    <p><a href="#decisions"><em>Chapter 3</em> Decisions</a> <span class="pagenumber">45</span></p>
    <ol>
        <li><a href="#not-playing-god">Not Playing God</a> <span class="pagenumber">45</span></li>
        <li><a href="#the-genetic-supermarket">The Genetic Supermarket</a> <span class="pagenumber">47</span></li>
        <li><a href="#a-mixed-system">A Mixed System</a> <span class="pagenumber">50</span></li>
        <li><a href="#values">Values</a> <span class="pagenumber">52</span></li>
        <li><a href="#changing-human-nature">Changing Human Nature</a> <span class="pagenumber">55</span></li>
    </ol>
    <h2>Part Two: Thought Experiments</h2>
    <p><a href="#transparency"><em>Chapter 4</em> Transparency</a> <span class="pagenumber">59</span></p>
    <ol>
        <li><a href="#monitoring-thoughts">Monitoring Thoughts</a> <span class="pagenumber">61</span></li>
        <li><a href="#transparency-in-a-free-community">Transparency in a Free Community</a> </li>
        <span class="page-break">7</span>
        <li><a href="#relationships">Relationships</a> <span class="pagenumber">64</span></li>
        <li><a href="#identity-and-individuality">Identity and Individuality</a> <span class="pagenumber">68</span></li>
        <li><a href="#the-two-perspectives">The Two Perspectives</a> <span class="pagenumber">70</span></li>
    </ol>
    <p><a href="#mood"><em>Chapter 5</em> Mood</a> <span class="pagenumber">71</span></p>
    <ol>
        <li><a href="#the-objection-to-social-quietism">The Objection to Social Quietism</a> <span class="pagenumber">72</span></li>
        <li><a href="#appropriateness">Appropriateness</a> <span class="pagenumber">73</span></li>
        <li><a href="#the-superdrug">The Superdrug</a> <span class="pagenumber">76</span></li>
    </ol>
    <p><a href="#control"><em>Chapter 6</em> Control</a> <span class="pagenumber">79</span></p>
    <ol>
        <li><a href="#some-questions">Some Questions</a> <span class="pagenumber">81</span></li>
        <li><a href="#abuse-by-the-authorities">Abuse by the Authorities</a> <span class="pagenumber">82</span></li>
        <li><a href="#benevolent-control-by-the-authorities">Benevolent Control by the Authorities</a> <span class="pagenumber">83</span></li>
        <li><a href="#voluntary-submission-to-democratically-programmed-control">Voluntary Submission to Democratically Programmed Control</a> <span class="pagenumber">84</span></li>
        <li><a href="#a-closed-society">A Closed Society</a> <span class="pagenumber">86</span></li>
        <li><a href="#identity">Identity</a> <span class="pagenumber">87</span></li>
        <li><a href="#self-modification">Self-Modification</a> <span class="pagenumber">88</span></li>
        <li><a href="#conclusions">Conclusions</a> <span class="pagenumber">89</span></li>
    </ol>
    <p><a href="#dreams-one"><em>Chapter 7</em> Dreams (I)</a> <span class="pagenumber">91</span></p>
    <ol>
        <li><a href="#the-experience-machine">The Experience Machine</a> <span class="pagenumber">92</span></li>
        <li><a href="#some-primitive-objections">Some Primitive Objections</a> <span class="pagenumber">93</span></li>
        <li><a href="#internal-and-external-perspectives">Internal and External Perspectives</a> <span class="pagenumber">94</span></li>
        <li><a href="#other-people">Other People</a> <span class="pagenumber">95</span></li>
        <li><a href="#activity">Activity</a> <span class="pagenumber">95</span></li>
        <li><a href="#identity-objections">Identity Objections</a> <span class="pagenumber">96</span></li>
        <li><a href="#the-kantian-objection">The Kantian Objection</a> <span class="pagenumber">97</span></li>
        <li><a href="#will-it-still-be-me?">Will It Still Be Me?</a> <span class="pagenumber">99</span></li>
        <li><a href="#personal-characteristics">Personal Characteristics</a> <span class="pagenumber">100</span></li>
    </ol>
    <p><a href="#dreams-two"><em>Chapter 8</em> Dreams (II)</a> <span class="pagenumber">102</span></p>
    <ol>
        <li><a href="#the-dreamworld">The Dreamworld</a> <span class="pagenumber">102</span></li>
        <li><a href="#is-the-dreamworld-real?">Is the Dreamworld Real?</a> <span class="pagenumber">105</span></li>
        <li><a href="#deception. and what we want">Deception. and What We Want</a> <span class="pagenumber">107</span></li>
        <li><a href="#the-objection-that-the-dreamworld-is-mind-centred">The Objection That the Dreamworld is Mind-Centred</a> <span class="pagenumber">108</span></li>
        <li><a href="#the-mind-dependence-view">The Mind-Dependence View</a> <span class="pagenumber">110</span></li>
        <li><a href="#claustrophobia">Claustrophobia</a> <span class="pagenumber">112</span></li>
    </ol>
    <p><a href="#work"><em>Chapter 9</em> Work</a> <span class="pagenumber">114</span></p>
    <ol>
        <li><a href="#cooperation-and-expression">Cooperation and Expression</a> <span class="pagenumber">116</span></li>
        <li><a href="#the-journey. not the arrival">The journey. Not the Arrival</a> <span class="pagenumber">117</span></li>
        <li><a href="#results-and-replacement">Results and Replacement</a> <span class="pagenumber">111</span></li>
        <li><a href="#circles">Circles</a> <span class="pagenumber">121</span></li>
        <span class="page-break">8</span>
        <li><a href="#negative-circles">Negative Circles</a> <span class="pagenumber">123</span></li>
        <li><a href="#systems">Systems</a> <span class="pagenumber">126</span></li>
        <li><a href="#transcending-the-economic-problem">Transcending the Economic Problem</a> <span class="pagenumber">128</span></li>
    </ol>
    <p><a href="#thoughts-on-the-thought-experiments"><em>Chapter 10</em> Thoughts on the Thought Experiments</a> <span class="pagenumber">130</span></p>
    <ol>
        <li><a href="#self-development-and-self-expression">Self-Development and Self-Expression</a> <span class="pagenumber">133</span></li>
        <li><a href="#contact-and-variety">Contact and Variety</a> <span class="pagenumber">133</span></li>
        <li><a href="#the-development-of-consciousness">The Development of Consciousness</a> <span class="pagenumber">134</span></li>
        <li><a href="#beyond-conservatism-about-human-nature">Beyond Conservatism about Human Nature</a> <span class="pagenumber">136</span></li>
    </ol>
    <h2>Part Three: Values</h2>
    <p><a href="#generations"><em>chapter 11</em> Generations</a> <span class="pagenumber">139</span></p>
    <ol>
        <li><a href="#stalin-and-herzen">Stalin and Herzen</a> <span class="pagenumber">139</span></li>
        <li><a href="#the-equality-principle">The Equality Principle</a> <span class="pagenumber">140</span></li>
        <li><a href="#some-views-incompatible-with-the-equality-principle">Some Views Incompatible with the Equality Principle</a> <span class="pagenumber">144</span></li>
        <li><a href="#practical-constraints-on-the-equality-principle">Practical Constraints on the Equality Principle 148 </li>
        <li><a href="#against-utopias">Against Utopias</a> <span class="pagenumber">149</span></li>
        <li><a href="#in-defence-of-intervention">In Defence of Intervention</a> <span class="pagenumber">150</span></li>
        <li><a href="#a-possible-conflict">A Possible Conflict</a> <span class="pagenumber">151</span></li>
    </ol>
    <p><a href="#adjustment"><em>chapter 12</em> Adjustment</a> <span class="pagenumber">153</span></p>
    <ol>
        <li><a href="#quality-and-the-satisfaction-of-desires">Quality and the Satisfaction of Desires</a> <span class="pagenumber">154</span></li>
        <li><a href="#autonomy">Autonomy</a> <span class="pagenumber">157</span></li>
        <li><a href="#neutrality">Neutrality</a> <span class="pagenumber">161</span></li>
        <li><a href="#the-human-zoo">The Human Zoo</a> <span class="pagenumber">162</span></li>
    </ol>
    <p><a href="#perspectives"><em>chapter 13</em> Perspectives</a> <span class="pagenumber">164</span></p>
    <ol>
        <li><a href="#external-perspectives">External Perspectives</a> <span class="pagenumber">164</span></li>
        <li><a href="#quality">Quality</a> <span class="pagenumber">166</span></li>
        <li><a href="#bias">Bias</a> <span class="pagenumber">169</span></li>
        <li><a href="#archimedes-and-neurath">Archimedes and Neurath</a> <span class="pagenumber">174</span></li>
    </ol>
    <p><a href="#some-conclusions"><em>chapter 14</em> Some Conclusions</a> <span class="pagenumber">178</span></p>
    <ol>
        <li><a href="#transcending-intellectual-limitations">Transcending Intellectual Limitations</a> <span class="pagenumber">179</span></li>
        <li><a href="#emotional-and-imaginative-limitations">Emotional and Imaginative Limitations</a> <span class="pagenumber">181</span></li>
        <li><a href="#values-and-dangers">Values and Dangers</a> <span class="pagenumber">184</span></li>
        <li><a href="#consciousness">Consciousness</a> <span class="pagenumber">186</span></li>
    </ol>
    <p><em>Index 189</em></p>
</section>
