<header class="site-header">
<h1>What's going on here?</h1>
<p>I really enjoyed this book when I read it about 8 years ago. I wanted to read it again but it's out of print.</p>
<p>This is an attempt to make it into an electronic version, eventually into an eBook. You can read it on a small screen quite hapily, or add it to a reader like Pocket. If you look at it on a big screen it'll break the text up into pages and put the scanned page that the text came from next to the HTML text.</p>
<p>If you spot a spot an error then go to the <a href="https://github.com/notionparallax/people">GitHub repository where this all lives</a> and submit an issue or a pull request.</p>
</header>
