<div class="masthead">
    <p>Pelican Books</p>
    <p>Philosophy</p>
    <p><em>Editor: Ted Honderich</em></p>
    <p class="title">What Sort of People Should There Be?</p>
    <p class="bio">Jonathan Glover was born in 1941 and was educated at Tonbridge School and Corpus Christi College, Oxford. He is a Fellow and tutor in philosophy at New College, Oxford, and has written Responsibility (1970) and Causing Death and Saving Lives (Pelican, 1977). He is married and has three children.</p>
</div>