<span class="page-break">3</span>
<div class="publisher-page">
    <div class="addresses">
        <p>Penguin Books Ltd, Harmondsworth, Middlesex, England</p> 
        <p>Penguin Books. 40 West 23rd Street, New York, New York 10010. U.S.A.</p>
        <p>Penguin Books Australia Ltd, Ringwood, Victoria, Australia</p>
        <p>Penguin Books Canada Ltd, 280 I John Street, Morkham, Ontario. Canada LJR 184</p>
        <p>Penguin Books (NZ.) Ltd, 182-190 Walrau Road, Auckland 10, New Zealand</p>
    </div>
    <div class="published">
        <p>First published 1984</p>
    </div>
    <div class="copyright">
    <p>Copyright &copy; Jonathan Glover. 1984</p>
    <p>All rights reserved</p>
    </div>
    <div class="printing">
    <p>Made and printed In Great Britain by<br> Richard Clay (The Chaucer Press) Ltd, Bungay, Suffolk</p> 
    <p>Filmset In Monophoto Photina by<br> Northumberland Press Ltd, Gateshead</p>
    </div>
    <p class="warning">Except in the United States or America. this book is sold subject to the condition that It shall not, by way or trade or otherwise, be lent. re-sold, hired out, or otherwise circulated without the publisher's prior consent In any form or binding or cover other than that in which it is published and without a similar condition Including this condition being imposed on the subsequent purchaser.</p>
</div>