$phone-screen: 450px;
$fusty-old-book-colour:  rgba(234, 228, 197, .75);
$my-aside-colour: hsl(0, 8%, 71%);

body {
  background-color: $fusty-old-book-colour;
  font-family: Orbi, Garamond, Baskerville, Baskerville Old Face, Hoefler Text, 'Times New Roman', serif;
  font-size: 19px;
  margin: 0 3em;//auto;
  width: 30em;

  @include media-query($phone-screen) {
    margin: 0 auto;
    width: 90vw;

    * { max-width: calc(100vw - 2em); }
    .page-break {display: none;}
  }
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
  letter-spacing: -.02em;
}

h1 {
  font-size: 250%;
  margin-bottom: 5em;

  @include media-query($phone-screen) {font-size: 180%;}
}

h2 {
  display: block;
  font-size: 220%;
  height: 4.5em;
  margin-bottom: 0;
  margin-left: 4em;
  margin-top: 0;
  text-indent: -4.3em;

  @include media-query($phone-screen) {
    font-size: 170%;
    margin: 1em 0;
    text-indent: 0;
  }
}

h3 {
  font-size: 140%;
  margin-top: 2.2em;
}

h4 {
  font-size: 110%;
  font-variant: small-caps;
  margin: 0;
}

p {
  line-height: 1.35;
  margin: 0;
  max-width: 100%;
  text-align: justify;
  text-indent: 1em;
}
p:first-of-type {
  text-indent: 0;
}

q {opacity: .9;}

q::before,
q::after {
  content: "'";
}

blockquote {
  font-size: 93%;
  line-height: 1.3;
  margin-left: 0;
  margin-right: 0;
}

figure {
  margin: 0 0 2em;

  blockquote {
    text-align: left;
    p {text-align: left;}
  }

  //figcaption {}
}


.cover {width: 100%;}

.masthead,
.author-page,
.title-page,
.publisher-page,
.dedication-page,
.blank-page {
  display: block;
  height: 243.2mm;

  @include media-query($phone-screen) {
    height: 100vh;
  }
}

.masthead {
  padding-top: 2em;

  p {
    text-indent: 0;

    &.title {
      font-weight: bold;
      margin: 1em 0;
    }

    &.bio {
      text-align: left;
      width: 17em;
    }
  }
}

.author-page {
  font-size: 250%;
  font-style: italic;
  padding-top: 4.6em;
  text-align: right;
}

.title-page {
  padding-top: 10em;

  h1 {
    font-size: 230%;
    font-style: italic;
    font-weight: normal;
  }
}

.penguin-logo {
  height: 4em;
  mix-blend-mode: multiply;
  transform: scaleX(-1);
}

.publisher-page {
  padding-top: 6em;

  p {
    font-size: 70%;
    text-indent: 0;

    &.warning {
      text-align: left;
      width: 28em;
    }
  }
}

.addresses,
.published,
.copyright,
.printing,
.warning {margin-bottom: 1em;}

.dedication-page {
  padding-top: 12em;
}

.contents {

  p {
    text-indent: 0;
  }

  h1 {
    font-size: 200%;
    margin-bottom: 4em;
  }

  h2 {
    font-size: 150%;
    margin-bottom: 1em;
    margin-top: 2.4em;
  }

  ol {
    font-size: 90%;
    margin: 0 0 2em -1em;
  }
}

.wrapper {position: relative;}

.footnote {
  display: block;
  font-size: 80%;
  left: 41em;
  position: absolute;
  text-indent: -1em;
  transform: translateY(-2em);
  width: 25em;

  @include media-query($phone-screen) {
    color: hsla(0, 0%, 0%, 0.5);
    float: right;
    padding: .5em;
    padding-left: 2em;
    position: initial;
    text-align: left;
    transform: none;
    width: 40%;
  }
}

.footnote-anchor::before {
  color: red;
  content: '*';
}

.letter {
  h4 {font-variant: small-caps;}
  figcaption {font-style: italic;}
  cite {text-transform: uppercase;}
}

@media print {
  @page {
    size: 111mm 181mm;
    margin: 0;
  }

  .pages {display: none;}

  h1 {
    page-break-before: always;
  }

  body {
    //background-image: url("./page.png");
    background-color: transparent;
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 111mm 181mm;
    font-size: 11pt;
    margin: 0;
    max-width: initial;
    padding: 7mm 0 7mm 13mm;
    -webkit-print-color-adjust: exact;
    width: 105mm;
  }

  p {
    line-height: 1em;
    orphans: 3;
    widows: 3;
  }

  .masthead,
  .author-page,
  .title-page,
  .publisher-page,
  .dedication-page {
    display: block;
    height: 181mm;
    page-break-before: always;
    //border: 1px solid black;
  }

  .author-page {
    font-size: 300%;
    font-style: italic;
    padding-top: 30mm;
  }

  .title-page h1 {
    font-style: italic;
  }
}

.page-scan {
  //left: -4.4em;
  left: 31em;
  position: absolute;
  transform: translateY(7.8em);
  width: 39.1em;
  z-index: -10;
}

.page-break {
  display: inline-block;
  height: 10em;
  text-align: center;
  width: 30em;
}

header {
  background-color: $my-aside-colour;
  border-radius: 0 0 1em 1em;
  font-family: sans-serif;
  margin-bottom: 3em;
  padding: 1em;

  @include media-query($phone-screen) {
    display: none;
  }

  h1 {
    font-size: 200%;
    margin-bottom: .5em;
  }
}
