body {
    margin: 0 auto;
    width: 30em;
    background-color: rgba(234, 228, 197, 0.75);
    font-size: 19px;
    font-family: Orbi, Garamond, Baskerville, Baskerville Old Face, Hoefler Text, 'Times New Roman', serif;
}

h1,h2,h3,h4 {    
    font-weight: normal;
}
h2 {
    margin-bottom: 5em;
}

p {
    line-height: 1.4;
    margin: 0.2em 0;
    text-indent: 1em;
    text-align: justify;
}
p:first-of-type {
    text-indent: 0;
}
blockquote{
    margin-left: 0;
    margin-right: 0;
}
figure {
    margin: 0 0 2em 0;
    blockquote{
        text-align: left;
        p{text-align: left;}
    }
    figcaption {}
}
img.cover{width: 100%;}

.masthead,
.author-page,
.title-page,
.publisher-page,
.dedication-page,
.blank-page {
    height:  243.2mm;
    display: block;
    //border: 1px solid;
}
.masthead {
    padding-top: 2em;
    p{
        text-indent: 0;
        &.title {
            font-weight: bold;
            margin: 1em 0;
        }
        &.bio{
            width: 17em;
        }
    }
}
.author-page {
    padding-top: 4.6em;
    font-size: 250%;
    font-style: italic;
    text-align: right;
}
.title-page{
    padding-top: 10em;
    h1 {
        font-style: italic;
        font-weight: normal;
        font-size: 230%;
    }
}
img.penguin-logo {
    mix-blend-mode: multiply;
    height: 4em;
    transform: scaleX(-1);
}
.publisher-page{
    padding-top: 6em;
    p{
        font-size: 70%;
        text-indent: 0;
        &.warning {
            width: 28em;
        }
    }
}
.addresses, .published,.copyright,.printing,.warning{margin-bottom: 1em;}

.dedication-page {
    padding-top: 12em;
}
section.contents{ 
    p{
        text-indent: 0;
    }
    h1 {
        margin-bottom: 4em;
        font-size: 200%;
    }
    h2 {
        margin-top: 2.4em;
        margin-bottom: 1em;
        font-size: 150%;
    }
    ol{
        margin: 0 0 2em -1em;
        font-size: 90%;
    }
}

span.footnote {
    display: block;
    width: 50mm;
    position: absolute;
    left: 80vw;
    font-size: 80%;
    text-indent: -1em;
}
span.footnote-anchor::before {
    content: "*";
    color: red;
}



@media print {
    @page {
        size: 111mm 181mm;
        margin: 0;
    }
    .pages{display: none;}
    h1 {
        page-break-before: always;
    }
    body {
        -webkit-print-color-adjust: exact;
        /*background-image: url("./page.png");*/
        background-repeat: repeat-y;
        background-position: left top;
        background-size: 111mm 181mm;
        margin: 0;
        max-width: initial;
        width: initial;
        background-color: transparent;
        font-size: 11pt;
        padding: 7mm 0mm 7mm 13mm;
        width: 105mm;
        margin: 0;
    }
    p {
        line-height: 1em;
        widows: 3;
        orphans: 3;
    }
    .masthead,
    .author-page,
    .title-page,
    .publisher-page,
    .dedication-page {
        height: 181mm;
        display: block;
        page-break-before: always;
        /*border: 1px solid black;*/
    }
    .author-page {
        padding-top: 30mm;
        font-style: italic;
        font-size: 300%;
    }
    .title-page h1 {
        font-style: italic;
    }
}

