@media print {
  @page {
    size: 111mm 181mm;
    margin: 0;
    margin-top: 15mm;
    margin-bottom: 15mm;
  }

  .pages,
  header {
    display: none;
  }

  h1 {
    page-break-before: always;
    margin-bottom: 2em !important;
  }

  body {
    // background-color: transparent;
    // background-position: left top;
    // background-repeat: repeat-y;
    // background-size: 111mm 181mm;
    font-size: 9pt !important;
    margin: 0 !important;
    max-width: initial;
    padding-left: 18mm;
    padding-right: 18mm;
    -webkit-print-color-adjust: exact;
    width: 111mm !important;
  }

  p {
    line-height: 1em;
    orphans: 3;
    widows: 3;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .pagenumber {
      display: inline !important;
  }

  .page-break {
    display: block !important;
    text-align: center;
    page-break-after: always;

    img {
      display: none;
    }
  }

  .cover {
    // height: 181mm;
    // left: 0;
    // top: 0;
    // width: 111mm !important;
  }

  .masthead,
  .author-page,
  .title-page,
  .publisher-page,
  .dedication-page {
    display: block;
    height: 181mm;
    page-break-before: always;
    //border: 1px solid black;
  }

  .author-page {
    font-size: 300%;
    font-style: italic;
    padding-top: 30mm;
  }

  .title-page h1 {
    font-style: italic;
  }
}
