@media print {

  h1 {
    page-break-before: always;
  }

  p {
    line-height: 1em;
    orphans: 3;
    widows: 3;
  }

  a {
    color: black;
    text-decoration: none;
  }

  header {
    display: none;
  }

  // .old {
  //   @page {
  //     size: A4 landscape;
  //     margin: 0;
  //     margin-top: 15mm;
  //     margin-bottom: 15mm;
  //   }

  //   .page-scan {
  //     filter: contrast(150%) grayscale(100%);
  //   }

  //   .page-break {
  //     display: block !important;
  //     text-align: center;
  //     page-break-after: always;

  //     img {
  //       position: absolute;
  //       right: 0;
  //       display: block;
  //     }
  //   }
  // }

  .new {
    column-count: 2;
    column-gap: 10mm;
    margin: 0;
    width: 100% !important;

    @page {
      size: A4 landscape;
      margin: 0;
      margin-top: 35mm;
      margin-bottom: 35mm;
      margin-left:30mm;
    }

    .pages,
    header {
      display: none;
    }

    h1, h2 {
      page-break-before: always;
    }

    h1 {
      margin-bottom: 2em !important;
    }

    h2 {
      text-indent: -4em;
    }

    p {
      padding-right: 30mm;
    }

    blockquote {
      padding-left: 4mm;
      padding-right: 20mm;
      margin: 0;
    }

    body {
      // background-color: transparent;
      // background-position: left top;
      // background-repeat: repeat-y;
      // background-size: 111mm 181mm;
      font-size: 9pt !important;
      margin: 0 !important;
      max-width: initial;
      padding-left: 18mm;
      padding-right: 18mm;
      -webkit-print-color-adjust: exact;
    }

    .footnote {
      line-height: 1.6;
      width: 50mm;
      page-break-inside: avoid;
      margin-left: 0;
      transform: translateX(5em);
    }

    .pagenumber {
        display: inline !important;
    }

    .page-break {
      display: none;
    }

    .cover {
      // height: 181mm;
      // left: 0;
      // top: 0;
      // width: 111mm !important;
    }

    .masthead,
    .author-page,
    .title-page,
    .publisher-page,
    .dedication-page {
      display: block;
      // height: 181mm;
      page-break-before: always;
      //border: 1px solid black;
    }

    .author-page {
      font-size: 300%;
      font-style: italic;
      padding-top: 30mm;
    }

    .title-page h1 {
      font-style: italic;
    }
  }
}
