@media print {
  @page {
    size: 111mm 181mm;
    margin: 0;
  }

  .pages,
  header {display: none;}

  h1 {
    page-break-before: always;
  }

  body {
    //background-image: url("./page.png");
    background-color: transparent;
    background-position: left top;
    background-repeat: repeat-y;
    background-size: 111mm 181mm;
    font-size: 11pt;
    margin: 0;
    max-width: initial;
    padding: 7mm 0 7mm 13mm;
    -webkit-print-color-adjust: exact;
    width: 105mm;
  }

  p {
    line-height: 1em;
    orphans: 3;
    widows: 3;
  }

  .masthead,
  .author-page,
  .title-page,
  .publisher-page,
  .dedication-page {
    display: block;
    height: 181mm;
    page-break-before: always;
    //border: 1px solid black;
  }

  .author-page {
    font-size: 300%;
    font-style: italic;
    padding-top: 30mm;
  }

  .title-page h1 {
    font-style: italic;
  }
}
